* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald" !important;
  letter-spacing: 1px;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.register-div,
.register-form,
.register-form div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register-div {
  margin-top: 100px;
}

.register-form div {
  padding: 5px;
}

.field input {
  padding: 10px;
  border-radius: 4px;
}

.label {
  font-weight: 600;
  font-size: 1.3rem;
}

.alertmessage {
  width: 100px;
}

.text-muted {
  font-size: 15px;
}

.successmessage {
}

.success-text-div button {
  display: flex;
  margin: 20px;
}
.success-text-login:hover {
  text-decoration: none;
}

.notfound-alert {
  display: flex;
  flex-direction: column;
  padding: 50px 200px;
  width: 60%;
}

.notfound-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  width: 100%;
}

.notfound-inner-div {
  padding: 50px 100px;
  text-align: center;
}

.notfound-inner-div p {
  padding: 20px;
}

.notfound-button {
  margin: 0 20px;
}

.successmessage {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
